.clock {
  border-radius: 50%;
  border: 2px double black;
  height: 10em;
  position: relative;
  width: 10em;
}

.clock:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
}

.seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.seconds {
  background: #000;
  height: 48%;
  left: 50%;
  position: absolute;
  top: 12%;
  transform-origin: 50% 80%;
  width: 1%;
}
